<div class="modal" id="contact-modal">
    <div class="modal__content  modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/cancel.svg" alt="Закрыть">
        </button>
        <form class="form form--auth" action="" method="post">

            <div class="form__group form__group--md">
                <input class="form__control" type="text" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input class="form__control" type="email" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--gold btn--rounded btn--sm" type="button">Отправить</button>
                </div>
            </div>

        </form>
        <ul class="modal__footer">
            <li>e-mail:<a href="info@main.ru">info@main.ru</a></li>
            <li>тел:<a href="tel:+943-666-666-22">+943-666-666-22</a></li>
        </ul>
    </div>
</div>