<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/head.png" alt="Заставка сайдбара">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/Myphoto.jpg" alt="Аватрка пользователя">
            <div class="profile__name">Антон Журавлев</div>
            <div class="profile__prof">Блог будущего Front-end разработчика</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="Vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="Pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Будущий Front-end разработчик. Создаю landings, практикую многостаночники. Имею опыт в таких языках
                    как HTML/CSS/JS/Python. Данный сайт верстался с помощью модуля Sass и таск-менеджера Gulp. Языков
                    HTML/CSS/JS.
                </p>
            </div>

        </div>
    </div> <!-- sidebar__content -->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы </a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>