.add-post {
    padding: 1.5rem 2rem;
    background-color: $secondary;
    margin-bottom: 3rem;
    box-shadow: 0 5px 15px rgba($white, .45);
    border-radius: 5px;
}

.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    width: 80%;
    height: 25px;


    border: none;
    background: transparent;
    resize: none;
    font-size: 1.5rem;
    color: $white;
    font-family: inherit;

    

    &::placeholder {
        color: #D2D2D2;
    }
}

.add-post__form-actions{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    border: none;

    cursor: pointer;

    transition:background-color .2s linear ;

}

.add-post__file {
    background: #EBEBEB url("../images/icon.svg")center no-repeat;

    input {
        display: none;
    }

    &:hover{
        background-color:darken(#EBEBEB, 10%);
    }
}

.add-post__send {
    background: $blue url("../images/send.svg")center no-repeat;

    &:hover {
            background-color: darken($blue, 10%);
        }
}