
// Блок для редактирования встраиваемых видео 


.embed {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        // Делаем так пединг, что бы работало нормально в разрешении 16:9 
        padding-top: 56.25%;

    }

    iframe,
    video,
    object,
    embed {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}