// все переменные $ находяться в _vars.scss
.sidebar {
    width: $sidebar-width;
    height: 100vh;

    background-color: $primary;

    // из Фигмы, берем эффект тени
    // По оси x-5/y-0/размытие 15px  
    box-shadow: 5px 0 15px rgba(#050505, .1);
    // так это сайдбар, fixed и прижатие к левому углу + z-index
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-sidebar;
}

.sidebar__header {
    height: 180px;
    // на случае, если картинка не прогрузитсья сразу
    background-color: $secondary;

    img {
        display: block;
        width: 100%;
        height: 100%;
        // если картинка будет не по формату, растягиваем по размеру блока .sidebar__header
        object-fit: cover;
    }
}


.sidebar__content{
    padding:0 2rem ;
    margin-top: -5rem;
}

.sidebar__footer{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}